<br>
<br>
<div class="ui column container" *ngIf="shows">

    <div class="basic segment" *ngIf="Date(shows.monday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.monday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.monday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">

            <app-singel-show
            class="ui card"
            *ngFor="let show of shows.monday | filterShows"
            [show]="show"
            ></app-singel-show>
        </div>

    </div>

  <div class="basic segment" *ngIf="Date(shows.tuesday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.tuesday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.tuesday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">

            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.tuesday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>
    </div>

    <div class="basic segment" *ngIf="Date(shows.wednesday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.wednesday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.wednesday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">

            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.wednesday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>
        
    </div>

    <div class="basic segment" *ngIf="Date(shows.thursday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.thursday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.thursday[1].starts | date:'dd. MMMM' }} </div>
        </h2>
        
        <div class="ui four cards">

            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.thursday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>
    </div>

    <div class="basic segment" *ngIf="Date(shows.friday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.friday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.friday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">

            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.friday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>

    </div>

    <div class="basic segment" *ngIf="Date(shows.saturday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.saturday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.saturday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">

            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.saturday | filterShows"
                [show]="show"
            >
        </app-singel-show>

        </div>
    </div>


    <div class="basic segment" *ngIf="Date(shows.sunday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.sunday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.sunday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">
            <app-singel-show 
                class="ui card"
                *ngFor="let show of shows.sunday | filterShows"
                [show]="show"
            ></app-singel-show>

        </div>
        
    </div>

    <div class="basic segment" *ngIf="Date(shows.nextmonday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.nextmonday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.nextmonday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">
            <app-singel-show class="ui card"
                *ngFor="let show of shows.nextmonday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>
        
    </div>

    <div class="segment" *ngIf="Date(shows.nexttuesday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.nexttuesday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.nexttuesday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">
            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.nexttuesday | filterShows"
                [show]="show"
            > </app-singel-show>

        </div>

    </div>

    <div class="basic segment" *ngIf="Date(shows.nextwednesday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.nextwednesday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.nextwednesday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">
            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.nextwednesday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>
        
    </div>

    <div class="basic segment" *ngIf="Date(shows.nextthursday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.nextthursday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.nextthursday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">
            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.nextthursday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>

    </div>

    <div class="basic segment" *ngIf="Date(shows.nextfriday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.nextfriday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.nextfriday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">
            <app-singel-show
            class="ui card"
            *ngFor="let show of shows.nextfriday | filterShows"
            [show]="show"
            >
            </app-singel-show>

        </div>
        
    </div>

    <div class="basic segment" *ngIf="Date(shows.nextsaturday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.nextsaturday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.nextsaturday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">
            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.nextsaturday | filterShows"
                [show]="show"
            >
            </app-singel-show>

        </div>

    </div>


    <div class="basic segment" *ngIf="Date(shows.nextsunday.slice(-1)[0].ends) >= date">

        <h2 class="ui grey inverted dividing header">
            {{shows.nextsunday[1].starts | date:'EEEE' }}
            <div class="sub header"> {{shows.nextsunday[1].starts | date:'dd. MMMM' }} </div>
        </h2>

        <div class="ui four cards">

            <app-singel-show
                class="ui card"
                *ngFor="let show of shows.nextsunday | filterShows"
                [show]="show"
            ></app-singel-show>

        </div>
        
    </div>

</div>

<div *ngIf="!shows" class="ui basic transparent segment min-height">
    <div class="ui active huge iverted text loader">Loading</div>
</div>
