<div class="ui container">

  <div class="ui basic segment">
    <h1>Datenschutzerklärung</h1>
  </div>

  <div class="ui basic segment">
    <h2>Allgeimenes</h2>
    <p>
      Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
      Die Nutzung unserer Website ist regelmäßig ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten
      (beispielsweise Name, Anschrift, Telefonnummer oder E-Mail-Adressen,) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
    </p>
  </div>

  <div class="ui basic segment">
    <h2>Server-Log-Files</h2>
    <p>
      Aus technischen Gründen werden u.a. folgende Daten, die Ihr Internet-Browser an uns bzw. an unseren Provider übermittelt: Browsertyp und Browserversion, verwendetes Betriebssystem, Webseite, von der aus Sie uns besuchen (Referrer URL), Datum, Uhrzeit Ihres Zugriffs und Ihre Internet Protokoll (IP) Adresse
      Diese Daten werden ausschließlich für die Fehlersuche und bei Sicherheitsbedenken ausgewertet.
    </p>
  </div>

  <div class="ui basic segment">
    <h2>Kontaktmöglichkeit</h2>
    <p>
      Wir bieten ihnen die Möglichkeit mit uns per E-Mail in Verbindung zu treten.
      In diesem Fall werden die von Ihnen gemachten Angaben zum Zwecke der Bearbeitung seiner Kontaktaufnahme gespeichert. Eine Weitergabe diese Daten an Dritte erfolgt nicht.
      Ein Abgleich dieser erhobenen Daten mit anderen Daten, die möglicherweise durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht. 
    </p>
  </div>

  <div class="ui basic segment">
    <h2>Recht auf Auskunft, Löschung, Sperrung</h2>
    <p>
      Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.
      Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. 
    </p>
  </div>



</div>