<div class="player-bar">


    <div class="player-wrapper">

        <div class="play-button" *ngIf="canPlayWebstream">
            <i *ngIf="!isPlaying" class="play circle outline icon" (click)="playBtnHandler()"></i>
            <i *ngIf="isPlaying" class="pause circle outline icon" (click)="playBtnHandler()"></i>
        </div>

        <!-- Playbutton fallback -->
        <div class="play-button" *ngIf="!canPlayWebstream">
            <a href="https://stream.radiobav.de" target="_blank" rel="noopener"> <i class="large external alternate icon"></i> </a>
        </div>


        
        <div class="show-text">
            <span class="show-text__description">Ihr hört: </span>  
            <span *ngIf="show && show.name" class="black-text show-text__name"> {{show.name}}</span>
        </div>
        
        <img *ngIf="show && show.image_path" class="show-image" src="{{show.image_path | https }}" src-fallback="/assets/fallback/fallback.jpg" alt="showimage">

    </div>

    <div class="player-right">

            
        <div class="slogan">
            <span class="slogan__text black-text">
                Radio BAV - Deine Referenz für elektronische Musik
            </span>
        </div>
    </div>

</div>

<div class="player-spacer"></div>
