.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 999;

    background-color:  orange;
    box-shadow: 0 -2px 4px rgba(0,0,0,.2);


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;

    padding: 0 3em;
}

.player-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.player-spacer {
    height: 70px;
    width: 100%;
    margin-top: 2em;
}

.play-button {
    margin-right: 1em;
}

.play-button > i {
    font-size: 60px;
    line-height: 70px;
    text-align: center;
}

.show-image {
    height: 60px;
    margin-top: 5px;
    margin-right: 1em;
    border-radius: 10px;
}

.show-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: first baseline;
    margin-left: 2em;
    margin-right: 2em;
}

.show-text__description {
    padding-left: 2px;
}

.show-text__name {
    margin-top: 2px;
    font-size: 30px;
}

.player-right {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.slogan {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}

.slogan__text {
    font-size: 20px;
}


.black-text {
    color:black!important;
}