<ngx-slick-carousel 
    class="carousel h500" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 

>
    <div ngxSlickItem *ngFor="let slide of sliderImages" class="slide">
            <img src="{{ slide | https }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>

<div *ngIf="!sliderImages" class="ui basic transparent loading segment h500"></div>