    <div class="content">
        <img class="right floated tiny ui image" src="{{show.image_path | https }}" [src-fallback]="fallbackImage">
        <div class="black header" *ngIf="show.name">{{show.name}}</div>

        <div class="meta">
            <span class="date" *ngIf="show.starts">{{show.starts | date:'HH:mm':'CEST'}}</span>
            <span class="date" *ngIf="show.ends && show.starts"> - </span>
            <span class="date" *ngIf="show.ends">{{show.ends | date:'HH:mm':'CEST'}}</span>

        </div>
        <div class="description" *ngIf="show.description">
            <p>{{show.description}}</p>
        </div>
    </div>
