<div class="ui three cards" *ngIf="shows">

    <div class="card" *ngFor="let show of shows | filterShows | slice:0:showAmountDisplayed ">
        <div class="ui fluid image">
            
            <div class="ui orange right ribbon label">
                <i class="clock icon"></i>
                {{show.starts | date:'HH:mm':'CEST'}}
            </div>
            
            <img
            class="fluid image"
            src="{{show.image_path | https}}"
            [src-fallback]="fallbackImage"
            [alt]="show.description"
            >

        </div>
        <div class="content">
            <div class="header" *ngIf="show.starts">
                <span>{{show.starts | date:'HH:mm':'CEST'}}</span>
                <span> - </span>
                <span>{{show.ends | date:'HH:mm':'CEST'}}</span>

            </div>
        </div>
    </div>

</div>
<br>
<div class="ui grey inverted compact menu" *ngIf="showAmountDisplayed < 8">      
    <a class=" item"
        (click)="showAmountDisplayed = 9"
    >
        <i class="redo icon"></i>
        Show more
    </a>
</div>

<div *ngIf="!shows">
    <h3 class="ui header centered">Zur Zeit sind keine Shows geplant.</h3>
</div>