.navi-top-spacer {
    height:100px;
    width: 100%;
}

.active {
    color: #ed7a23!important;
}

.ui.menu  {
    border: none!important;
    box-shadow: none!important;
}

.top-bar{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 999;
    padding: 0 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

.logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo > img {
    height: 95%;
    max-height: 44px;
}

.ui.menu .active.item {
    background-color: transparent;
}