
<div class="top-bar">

  <div class="logo">
      <img src="/assets/logo/bav-text.png">
  </div>

  <div class="ui four item huge borderless labeled icon menu">

      <a class="header item"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
      <i class="home icon"></i>
        Home
      </a>

      <a class="header item"
        routerLink="/showplan"
        routerLinkActive="active"
      >
      <i class="list alternate icon"></i>
        Sendeplan
      </a>

      <a class="header item"
      routerLink="/bavtv"
      routerLinkActive="active"
      >
      <i class="list tv icon"></i>
        BAV TV
      </a>

      <a class="header item"
        routerLink="/info"
        routerLinkActive="active"
      >
      <i class="info icon"></i>
        Info
      </a>
    
  </div>
</div>




<div class="navi-top-spacer"></div>