/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    background-color: #242424!important;
    color: white!important;
}

.min-height {
    min-height: 70%;
}