<div class="head">

  <div class="head-slider">
    <app-slider [sliderImages]="sliderImages" ></app-slider>
  </div>

</div>

<div class="ui horizontal divider">
    <h2 class="ui grey inverted huge header centered">Upcoming Shows</h2>
</div>

<div class="ui basic segment upcoming-shows">
  <app-upcoming-shows *ngIf="upcommingShows"
    [shows]="upcommingShows"
  ></app-upcoming-shows>

  <div *ngIf="!upcommingShows" class="ui basic transparent segment">
    <div class="ui active huge iverted text loader">Loading</div>
</div>

</div>

<div class="feed">

</div>