.head {
    display: flex;
    justify-items: center;
    flex-direction: row;
}

.head-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.head-logo {
    width: 100%;
    object-fit: contain;
}

.head-slider {
    width: 100%;
    background-color: azure;
}

.upcoming-shows {
    min-width: 900px;
    max-width: 1200px;
    width: 80%;
    margin: auto;
}